<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <div class="main w-full min-h-screen bg-gradient-to-r from-orange-200 via-yellow-100 to-pink-200 p-6  rounded-lg shadow-lg text-black">
        <a  class="text-blue-500 inline-block mb-3"  href="/">Go Back to Home!</a>
        <h1 class="text-3xl tracking-tighter"><%= filename%></h1>
        <p><%= Filedata%></p>
    </div>
</body>
</html>